---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../config';

// Use Astro.glob() to fetch all posts, and then sort them by date.
const posts = (await Astro.glob('./blog/*.{md,mdx}')).sort(
	(a, b) => new Date(b.frontmatter.pubDate).valueOf() - new Date(a.frontmatter.pubDate).valueOf()
);
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main class="container">
			<section>
					{posts.map((post) => (
						<a href={post.url} class="text-neutral-700 dark:text-neutral-400">
						<div class="
							relative 
							md:flex 
							my-4 
							rounded-lg 
							bg-slate-200 
							hover:bg-neutral-200
							dark:bg-slate-900 
							dark:hover:bg-neutral-900
							md:after:content-['🚀'] 
							md:after:text-6xl
							md:after:absolute
							md:after:w-10 
							md:after:h-10 
							md:after:right-10
							md:after:bottom-8
							md:after:-z-10
							md:hover:after:-translate-y-16
							md:hover:after:translate-x-16
							md:hover:after:transition-transform
							md:hover:after:ease-in-out 
							md:hover:after:duration-300				
						">
							{ post.frontmatter.heroImage ? <img class="w-full md:w-48 lg:w-64 xl:w-72 h-auto object-cover" src={post.frontmatter.heroImage} alt="" /> : ""}
							<div class="py-2 md:p-6 text-center md:text-left">
								<h3>{post.frontmatter.title}</h3>
								<p>{post.frontmatter.description}</p>
							</div>
							<time datetime={post.frontmatter.pubDate} class="absolute right-4 bottom-2 text-xs">
								{new Date(post.frontmatter.pubDate).toLocaleDateString('en-us', {
									year: 'numeric',
									month: 'short',
									day: 'numeric',
								})}
							</time>
						</div></a>
					))}
			</section>
		</main>
		<Footer />
	</body>
</html>
